h1 {
    color: white;
    text-align: center;
    background: linear-gradient( rgb(76, 115, 199), rgb(22, 16, 133));
}


.forecastCards{
    width:15%;
     height:20%; 
     display:inline-block;
  padding: 25px;
   align-items: baseline;
 padding: 25px;
}